*{
    box-sizing: border-box;
  }

  :root{
    --primary: #fff;
    --bg-color: rgb(245, 245, 245);
    --bg-envelope-color: #ededec;
    --envelope-tab: #e3e2e2;
    --envelope-cover: #eaeaea;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --txt-color: #444;
    --heart-color: maroon;
  }
  
  body {
  padding: 0;
  box-sizing: border-box;
  background: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  }

.happy {
  font-size: 30px;
  font-family: proxima-nova, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #b2b2b2;
  position: absolute;
  top: 5%;
  left: 45%;
  letter-spacing: 0.07em;
  }

  .valentines {
    font-size: 75px;
    font-weight: 500;
    font-style: normal;
    color: maroon;
    position: absolute;
    top: 10%;
    left: 32%;
    letter-spacing: 0.07em;
    }

    .fraunces-valentines {
      font-family: "Fraunces", serif;
      font-optical-sizing: auto;
      font-weight: 200;
      font-style: normal;
      font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
    }

    .day {
      font-size: 30px;
      font-family: proxima-nova, sans-serif;
      font-weight: 500;
      font-style: normal;
      color: #b2b2b2;
      position: absolute;
      top: 20%;
      left: 47%;
      letter-spacing: 0.07em;
      }







      .container {
        height: 100vh;
        display: grid;
        place-items: center;
      }
      .container > .envelope-wrapper {
        background: whitesmoke;
        box-shadow: 0 0 40px var(--shadow-color);
      }
      .envelope-wrapper > .envelope {
        position: relative;
        width: 300px;
        height: 230px;
      }
      .envelope-wrapper > .envelope::before {
        content: "";
        position: absolute;
        top: 0;
        z-index: 2;
        border-top: 130px solid var(--envelope-tab);
        border-right: 150px solid transparent;
        border-left: 150px solid transparent;
        transform-origin: top;
        transition: all 0.5s ease-in-out 0.7s;
      }
      .envelope-wrapper > .envelope::after {
        content: "";
        position: absolute;
        z-index: 2;
        width: 0px;
        height: 0px;
        border-top: 130px solid transparent;
        border-right: 150px solid var(--envelope-cover);
        border-bottom: 100px solid var(--envelope-cover);
        border-left: 150px solid var(--envelope-cover);
      }
      .envelope > .letter {
        position: absolute;
        right: 20%;
        bottom: 0;
        width: 54%;
        height: 80%;
        background: var(--primary);
        text-align: center;
        transition: all 1s ease-in-out;
        box-shadow: 0 0 5px var(--shadow-color);
        padding: 20px 10px;
      }
      
      .envelope > .letter > .text {
        color: var(--txt-color);
        text-align: center;
        font-size: 9px;
          font-family: "Fraunces", serif;
          font-weight: 200;
          font-style: normal;
          font-variation-settings:
            "SOFT" 0,
            "WONK" 0;
        }
      

      .heart {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 15px;
        height: 15px;
        background: maroon;
        z-index: 4;
        transform: translate(-50%, -20%) rotate(45deg);
        transition: transform 0.5s ease-in-out 1s;
        box-shadow: 0 1px 6px var(--shadow-color);
        cursor: pointer;
      }
      .heart:before, 
      .heart:after {
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        background-color: maroon;
        border-radius: 50%;
      }
      .heart:before {
        top: -7.5px;
      }
      .heart:after {
        right: 7.5px;
      }
      .flap > .envelope:before {
        transform: rotateX(180deg);
        z-index: 0;
      }
      .flap > .envelope > .letter {
        bottom: 100px;
        transform: scale(1.5);
        transition-delay: 1s;
      }
      .flap > .heart {
        transform: rotate(90deg);
        transition-delay: 0.4s;
      }








      .heartss {
        width: 5%;
        min-width: 100px;
        height: 25%;
        min-height: 250px;
        position: absolute;
        z-index: 10;
        left: 50%;
       }
       
       .hearts {
        position: absolute;
        height: 55%;
        min-height: 25px;
        width: 55%;
        min-width: 25px;
        background-color: rgb(171, 21, 21);
        -webkit-mask-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path></svg>');
                mask-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path></svg>');
        -webkit-mask-repeat: no-repeat;
                mask-repeat: no-repeat;
        -webkit-mask-position: bottom;
                mask-position: bottom;
         opacity: 0;
         animation: floating-hearts 10s infinite cubic-bezier(0.5, 0.5, 0.5, 0.5);
       }
       
       @keyframes floating-hearts {
         0% {
           opacity: 0;
           bottom: 0%;
           left: 0%;
         }
         10% {
           opacity: 1;
           bottom: 20%;
           left: 70%;
         }
         20% {
           bottom: 40%;
           left: 10%;
         }
         30% {
           bottom: 60%;
           left: 50%;
         }
         40% {
           opacity: 1;
           bottom: 80%;
           left: 5%;
         }
         48% {
           opacity: 0;
           bottom: 100%;
           left: 60%;
         }
         100% {
           opacity: 0;
           bottom: 100%;
           left: 90%;
         }
       }
       
       .hearts:nth-child(1) {  
         animation-delay: 1s;
       }
       
       .hearts:nth-child(2) {
         animation-delay: 2.5s;
       }
       
       .hearts:nth-child(3) {
         animation-delay: 3.5s;
       }
       
       .hearts:nth-child(4) {
         animation-delay: 4.5s;
       }















       